*{
    box-sizing: border-box;

}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.card{
    display: flex;
    /*flex-direction: column;*/
    background-color: lightblue;
    width: 200px;
    height: 250px;
    border-radius: 8px;
}

.block1 {
    width: 300px;
    border: 1px solid black;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}